*{
    margin: 0;
    padding: 0;
}
header h1
{
    width: 750px;
    background-color: #ddecfd;
    margin: 10px auto;
    text-align: center;
    padding: 2%;
    color: #94106c;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
div.form-wrapper
{
    width: 750px;
    margin: 20px  auto;
}
/* *:not([type="button"])  */

fieldset
{
    border: none;
    background-image: url(img/img-1.jpg);
}

legend
{
    border: 1px solid #da98c6;
    background-color: #f1addd;
    color: #94106c;
    font-family: 'Segoe UI';
    padding: 1.5%;
    border-radius: 20px;
    margin-left: 2%;
}
form *,label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    
  }
label ,input ,textarea
{
    display: block;
    width: 35%;
}
label
{
    margin-bottom: 1px;
    padding-left: 5px;
    background-color: #94106c;
    line-height: 1.5;
    color: #fff;
}
input{
    width: 35%.9;
    margin-bottom: 15px;
}
input[type="submit"],
input[type="reset"]
{
    display: inline-block;
    margin: 50px 52px;
    padding: 2%;
    background-image: url(img/img-L.png);
    color: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}
